---
root: true
parser: babel-eslint
extends: airbnb
env:
  browser: true

parserOptions:
  sourceType: module

rules:
  no-debugger: 2
  vars-on-top: off
  no-control-regex: off
  no-multi-assign: off
  no-param-reassign: off
  no-tabs: off
  prefer-arrow-callback: off
  object-curly-newline: off
  prefer-rest-params: off
  import/extensions: off
  no-bitwise: off

  comma-dangle:
    - warn
    - always-multiline

  indent:
    - 2
    - tab
    - SwitchCase: 1
